<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body>
    <div class="ps-page">

        {% include 'includes/header.html' %}
        {% load static %}

        <div class="ps-checkout">
            <div class="container" style="padding-top: 50px; padding-bottom: 50px">
                <div class="ps-checkout__content">
                    <form action="{% url 'change_password' %}" method="POST">
                        {% csrf_token %}
                        <div class="row row-reverse">
                            <div class="col-12 col-md-3">
                                <div class="ps-widget ps-widget--product">
                                    <ul class="ps-breadcrumb">
                                        <li class="ps-breadcrumb__item"><a href="{% url 'index' %}">Home</a></li>
                                        <li class="ps-breadcrumb__item"><a href="{% url 'store' %}">Edit Profile</a></li>
                                    </ul>
                                    <h1 class="ps-categogy__name" style="color: #103178">My Profile</h1>
                                    <div class="ps-widget__block" style="padding: 0!important;">
                                        <div class="ps-widget__content ps-widget__category">
                                            <ul class="menu--mobile">
                                                <h3 class="ps-dashboard-menu" style="color:#FBB102;">My Dashboard Menu</h3><br>
                                                <li><a href="{% url 'dashboard' %}">Dashboard</a><span class="sub-toggle"></span></li>
                                                <li><a href="{% url 'my_orders' %}">My Orders</a><span class="sub-toggle"></span></li>
                                                <li><a href="{% url 'edit_profile' %}">Edit Profile</a><span class="sub-toggle"></span></li>
                                                <li><a href="{% url 'change_password' %}">Change Password</a><span class="sub-toggle"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-9">
                                <div class="ps-checkout__form">
                                    <div class="row">
                                        <h3 class="ps-checkout__heading">Change Password</h3>
                                    </div>
                                    <div class="ps-form--review">
                                        {% include 'includes/alerts.html' %}
                                        <div class="ps-form__group" style="text-align: left!important;">
                                            <label class="ps-form__label">Current Password *</label>
                                            <div class="input-group">
                                                <input class="form-control ps-form__input" type="password" placeholder="Current Password" name="current_password">
                                                <div class="input-group-append"><a class="fa fa-eye-slash toogle-password" href="javascript: void(0);"></a></div>
                                            </div>
                                        </div><br>
                                        <div class="ps-form__group" style="text-align: left!important;">
                                            <label class="ps-form__label">New Password *</label>
                                            <div class="input-group">
                                                <input class="form-control ps-form__input" type="password" placeholder="New Password" name="new_password">
                                                <div class="input-group-append"><a class="fa fa-eye-slash toogle-password" href="javascript: void(0);"></a></div>
                                            </div>
                                        </div><br>
                                        <div class="ps-form__group" style="text-align: left!important;">
                                            <label class="ps-form__label">Confirm New Password *</label>
                                            <div class="input-group">
                                                <input class="form-control ps-form__input" type="password" placeholder="Confirm New Password" name="confirm_new_password">
                                                <div class="input-group-append"><a class="fa fa-eye-slash toogle-password" href="javascript: void(0);"></a></div>
                                            </div>
                                        </div><br>
                                        <div class="ps-form__submit">
                                            <input type="submit" class="ps-btn ps-btn--warning" value="Change Password"></input>
                                            {% comment %}<div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="remember">
                                                <label class="form-check-label" for="remember">Remember me</label>
                                            </div>{% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="before-footer" style="height: 50px"></div>

        {% include 'includes/footer.html' %}

    </div>

    {% include 'includes/extended.html' %}
    {% include 'includes/scripts.html' %}

</body>
</html>