<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Responsive Bootstrap4 Dashboard Template">
		<meta name="author" content="Mexhit Kurti">
		<link rel="shortcut icon" href="img/electroshop-admin-logo.png">
		<title>ElectroShop Admin</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="vendor/search-filter/search-filter.css">
		<link rel="stylesheet" href="vendor/search-filter/custom-search-filter.css">
		<link rel="stylesheet" href="vendor/wizard/jquery.steps.css" />
		<link rel="stylesheet" href="vendor/summernote/summernote-bs4.css" />
		<link rel="stylesheet" href="vendor/bs-select/bs-select.css" />
		<link rel="stylesheet" href="vendor/dropzone/dropzone.min.css" />
		<link rel="stylesheet" href="vendor/input-tags/tagsinput.css" />
		<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
	</head>
	<body>
		<div class="page-wrapper">
			<nav class="sidebar-wrapper">
				<div class="sidebar-tabs">
					<div class="nav" role="tablist" aria-orientation="vertical">
						<a href="index.html" class="logo">
							<img src="img/electroshop-admin-logo.png" alt="ElectroShop Admin">
						</a>
						<a class="nav-link" id="home-tab" data-bs-toggle="tab" href="#tab-home" role="tab" aria-controls="tab-home" aria-selected="true">
							<i class="fa fa-dashboard"></i>
							<span class="nav-link-text">Dashboards</span>
						</a>
						<a class="nav-link active" id="product-tab" data-bs-toggle="tab" href="#tab-product" role="tab" aria-controls="tab-product" aria-selected="false">
							<i class="fa fa-product-hunt"></i>
							<span class="nav-link-text">Product</span>
						</a>
						<a class="nav-link" id="pages-tab" data-bs-toggle="tab" href="#tab-pages" role="tab" aria-controls="tab-pages" aria-selected="false">
							<i class="fa fa-area-chart"></i>
							<span class="nav-link-text">Orders</span>
						</a>
						<a class="nav-link" id="components-tab" data-bs-toggle="tab" href="#tab-components" role="tab" aria-controls="tab-components" aria-selected="false">
							<i class="fa fa-users"></i>
							<span class="nav-link-text">Customers</span>
						</a>
						<a class="nav-link" id="graphs-tab" data-bs-toggle="tab" href="#tab-graphs" role="tab" aria-controls="tab-graphs" aria-selected="false">
							<i class="fa fa-newspaper-o"></i>
							<span class="nav-link-text">Blog</span>
						</a>
						<a class="nav-link" id="authentication-tab" data-bs-toggle="tab" href="#tab-authentication" role="tab" aria-controls="tab-authentication" aria-selected="false">
							<i class="fa fa-user-circle-o"></i>
							<span class="nav-link-text">Authentication</span>
						</a>
						<a class="nav-link settings" id="settings-tab" data-bs-toggle="tab" href="#tab-settings" role="tab" aria-controls="tab-authentication" aria-selected="false">
							<i class="fa fa-cog"></i>
							<span class="nav-link-text">Settings</span>
						</a>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade" id="tab-home" role="tabpanel" aria-labelledby="home-tab">
							<div class="tab-pane-header">
								Dashboards
							</div>
							<div class="sidebarMenuScroll">
								<div class="sidebar-menu">
									<ul>
										<li>
											<a href="index.html">Dashboard</a>
										</li>
										<li>
											<a href="analytics.html">Analytics</a>
										</li>
										<li>
											<a href="sales.html">Sales</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-actions">
								<a href="orders.html" class="red">
									<div class="bg-avatar">12</div>
									<h5>New Orders</h5>
								</a>
								<a href="invoices-list.html" class="blue">
									<div class="bg-avatar">24</div>
									<h5>Bills Pending</h5>
								</a>
							</div>
						</div>
						<div class="tab-pane fade show active" id="tab-product" role="tabpanel" aria-labelledby="product-tab">
							<div class="tab-pane-header">
								Product
							</div>
							<div class="sidebarMenuScroll">
								<div class="sidebar-menu">
									<ul>
										<li>
											<a href="products-list.html">Products List</a>
										</li>
										<li>
											<a href="add-product.html" class="current-page">Add Product</a>
										</li>
										<li>
											<a href="categories-list.html">Categories List</a>
										</li>
										<li>
											<a href="add-category.html">Add Category</a>
										</li>
										<li>
											<a href="products-reviews.html">Reviews</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-actions">
								<div class="support-tile">
									<i class="fa fa-headphones"></i> 24/7 Support
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab-pages" role="tabpanel" aria-labelledby="pages-tab">
							<div class="tab-pane-header">
								Orders
							</div>
							<div class="sidebarMenuScroll">
								<div class="sidebar-menu">
									<ul>
										<li>
											<a href="create-invoice.html">Create Invoice</a>
										</li>
										<li>
											<a href="view-invoice.html">View Invoice</a>
										</li>
										<li>
											<a href="orders-list.html">Orders List</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-actions">
								<div class="support-tile green">
									<i class="fa fa-pie-chart"></i> 5GB Free Space
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab-components" role="tabpanel" aria-labelledby="components-tab">
							<div class="tab-pane-header">
								Customers
							</div>
							<div class="sidebarMenuScroll">
								<div class="sidebar-menu">
									<ul>
										<li>
											<a href="customers-list.html">Customer List</a>
										</li>
										<li>
											<a href="add-customer.html">Add Customer</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-actions">
								<div class="support-tile yellow">
									<i class="fa fa-arrow-circle-o-down"></i><a href="#">Download Reports</a>						</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab-graphs" role="tabpanel" aria-labelledby="graphs-tab">
							<div class="tab-pane-header">
								Blog
							</div>
							<div class="sidebarMenuScroll">
								<div class="sidebar-menu">
									<ul>
										<li>
											<a href="posts-list.html">Posts List</a>
										</li>
										<li>
											<a href="add-post.html">Add Post</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-actions">
								<div class="support-tile pink">
									<i class="fa fa-arrow-right"></i> RTL Support
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab-authentication" role="tabpanel" aria-labelledby="authentication-tab">
							<div class="tab-pane-header">
								Authentication
							</div>
							<div class="sidebarMenuScroll">
								<div class="sidebar-menu">
									<ul>
										<li>
											<a href="forgot-password.html">Forgot Password</a>
										</li>
										<li>
											<a href="reset-password.html">Reset Password</a>
										</li>
										<li>
											<a href="maintenance.html">Maintenance</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="sidebar-actions">
								<div class="support-tile blue">
									<a href="pricing.html" class="btn btn-light m-auto">Upgrade Account</a>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab-settings" role="tabpanel" aria-labelledby="settings-tab">
							<div class="tab-pane-header">
								Settings
							</div>
							<div class="sidebarMenuScroll">
								<div class="sidebar-settings">
									<div class="accordion" id="settingsAccordion">
										<div class="accordion-item">
											<h2 class="accordion-header" id="genInfo">
												<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#genCollapse" aria-expanded="true" aria-controls="genCollapse">
													General Info
												</button>
											</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<div class="main-container">
				<div class="page-header">
					<div class="row gutters">
						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-9">
							<div class="search-container">
								<div class="toggle-sidebar" id="toggle-sidebar">
									<i class="fa fa-bars"></i>
								</div>
								<div class="ui fluid category search">
									<div class="ui icon input">
										<input class="prompt" type="text" placeholder="Search">
										<i class="search icon fa fa-search"></i>
									</div>
									<div class="results"></div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-3">
							<ul class="header-actions">
								<li class="dropdown">
									<a href="#" id="taskss" data-toggle="dropdown" aria-haspopup="true">
										<i class="fa fa-info-circle"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-end lrg" aria-labelledby="taskss">
										<div class="dropdown-menu-header">
											Tasks (7/10)
										</div>
										<div class="customScroll">
											<ul class="activity">
												<li class="activity-list">
													<div class="detail-info">
														<p class="date">Today</p>
														<p class="info">Messages accepted with attachments</p>
													</div>
												</li>
												<li class="activity-list danger">
													<div class="detail-info">
														<p class="date">Today</p>
														<p class="info">Send email notifications of subscriptions and deletions to list owner</p>
													</div>
												</li>
												<li class="activity-list success">
													<div class="detail-info">
														<p class="date">Yesterday</p>
														<p class="info">Required change logs activity reports</p>
													</div>
												</li>
												<li class="activity-list warning">
													<div class="detail-info">
														<p class="date">2 Days Ago</p>
														<p class="info">Strategic partnership plan</p>
													</div>
												</li>
												<li class="activity-list">
													<div class="detail-info">
														<p class="date">2 days ago</p>
														<p class="info">Send email notifications of subscriptions and deletions to list owner</p>
													</div>
												</li>
												<li class="activity-list danger">
													<div class="detail-info">
														<p class="date">3 days ago</p>
														<p class="info">Required change logs activity reports</p>
													</div>
												</li>
												<li class="activity-list success">
													<div class="detail-info">
														<p class="date">7 days ago</p>
														<p class="info">Strategic partnership plan</p>
													</div>
												</li>
												<li class="activity-list">
													<div class="detail-info">
														<p class="date">2 weeks ago</p>
														<p class="info">Required change logs activity reports</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="dropdown">
									<a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
										<i class="fa fa-bell"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-end lrg" aria-labelledby="notifications">
										<div class="dropdown-menu-header">
											Notifications (7)
										</div>
										<div class="customScroll">
											<ul class="header-notifications">
												<li>
													<a href="#">
														<div class="user-img online">
															<img src="img/user6.png" alt="User">
														</div>
														<div class="details">
															<div class="user-title">Larkyn</div>
															<div class="noti-details">Check out every table in detail.</div>
															<div class="noti-date">April 25, 04:00 pm</div>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="user-img busy">
															<img src="img/user10.png" alt="User">
														</div>
														<div class="details">
															<div class="user-title">Braxten</div>
															<div class="noti-details">Approved new design.</div>
															<div class="noti-date">April 10, 12:00 am</div>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="user-img away">
															<img src="img/user21.png" alt="User">
														</div>
														<div class="details">
															<div class="user-title">Maria</div>
															<div class="noti-details">Membership has been ended.</div>
															<div class="noti-date">March 20, 07:30 pm</div>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="user-img busy">
															<img src="img/user15.png" alt="User">
														</div>
														<div class="details">
															<div class="user-title">Alex</div>
															<div class="noti-details">Design Review.</div>
															<div class="noti-date">April 18, 09:30 am</div>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="user-img online">
															<img src="img/user5.png" alt="User">
														</div>
														<div class="details">
															<div class="user-title">Sunny</div>
															<div class="noti-details">UI Discussion</div>
															<div class="noti-date">April 21, 05:00 pm</div>
														</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="dropdown">
									<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
										<span class="avatar">
											<img src="img/user.svg" alt="User Avatar">
											<span class="status busy"></span>
										</span>
									</a>
									<div class="dropdown-menu dropdown-menu-end md" aria-labelledby="userSettings">
										<div class="header-profile-actions">
											<a href="user-profile.html"><i class="fa fa-user"></i>Profile</a>
											<a href="account-settings.html"><i class="fa fa-cog"></i>Settings</a>
											<a href="forgot-password.html"><i class="fa fa-sign-out"></i>Logout</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="content-wrapper-scroll">
					<div class="content-wrapper">
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title">Add New Product</div>
									</div>
									<div class="card-body">
										<div id="example-form">
											<h3>General Information</h3>
											<section>
												<h6 class="h-0 m-0">&nbsp;</h6>
												<div class="row gutters">
													<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
														<div class="field-wrapper">
															<input type="text" placeholder="Enetr Product Name">
															<div class="field-placeholder">Product Name <span class="text-danger">*</span></div>
														</div>
													</div>
													<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
														<div class="field-wrapper">
															<select class="select-single js-states" title="Select Product Category" data-live-search="true">
																<option>Mobiles</option>
																<option>Books</option>
																<option>Clothing</option>
																<option>Electronics</option>
																<option>Food</option>
																<option>Games</option>
																<option>Gifts</option>
																<option>Laptops</option>
																<option>Mobiles</option>
																<option>Music</option>
																<option>Office</option>
																<option>Pharmacy</option>
																<option>Sports</option>
																<option>Toys</option>
															</select>
															<div class="field-placeholder">Product Category <span class="text-danger">*</span></div>
														</div>
													</div>
													<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
														<div class="field-wrapper">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="Set Product Price">
																<span class="input-group-text">$</span>
															</div>
															<div class="field-placeholder">Product Price <span class="text-danger">*</span></div>
														</div>
													</div>
													<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
														<div class="field-wrapper">
															<div class="input-group">
																<input type="text" class="form-control" placeholder="Set Product Discount Price">
																<span class="input-group-text">%</span>
															</div>
															<div class="field-placeholder">Product Discount <span class="text-danger">*</span></div>
														</div>
													</div>
													<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
														<div class="field-wrapper m-0">
															<div class="summernote"></div>
															<div class="field-placeholder">Product Description <span class="text-danger">*</span></div>
														</div>
													</div>
												</div>
											</section>
											<h3>Product Images</h3>
											<section>
												<h6 class="h-0 m-0">&nbsp;</h6>
												<div class="row gutters">
													<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
														<div id="dropzone">
															<form action="/upload" class="dropzone needsclick dz-clickable" id="demo-upload">
																<div class="dz-message needsclick">
																	<button type="button" class="dz-button">Drop files here or click to upload.</button><br>
																	<span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
																</div>

															</form>
														</div>
													</div>
												</div>
											</section>
											<h3>Meta Data</h3>
											<section>
												<h6 class="h-0 m-0">&nbsp;</h6>
												<div class="row gutters">
													<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
														<div class="field-wrapper">
															<input type="text" placeholder="Enetr Meta Name">
															<div class="field-placeholder">Meta Name <span class="text-danger">*</span></div>
														</div>
													</div>
													<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
														<div class="field-wrapper">
															<input type="text" placeholder="Enter Keywords" value="Books, Mobiles, Food" data-role="tagsinput">
															<div class="field-placeholder">Meta Keywords <span class="text-danger">*</span></div>
														</div>
													</div>
													<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
														<div class="field-wrapper m-0">
															<div class="summernote"></div>
															<div class="field-placeholder">Meta Description <span class="text-danger">*</span></div>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="app-footer">© ElectroShop Admin 2021</div>
				</div>
			</div>
		</div>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/modernizr.js"></script>
		<script src="js/moment.js"></script>
		<script src="vendor/slimscroll/slimscroll.min.js"></script>
		<script src="vendor/slimscroll/custom-scrollbar.js"></script>
		<script src="vendor/search-filter/search-filter.js"></script>
		<script src="vendor/search-filter/custom-search-filter.js"></script>
		<script src="vendor/wizard/jquery.steps.min.js"></script>
		<script src="vendor/wizard/jquery.steps.custom.js"></script>
		<script src="vendor/summernote/summernote-bs4.js"></script>
		<script src="vendor/bs-select/bs-select.min.js"></script>
		<script src="vendor/bs-select/bs-select-custom.js"></script>
		<script src="vendor/dropzone/dropzone.min.js"></script>
		<script src="vendor/input-tags/tagsinput.min.js"></script>
		<script src="vendor/input-tags/typeahead.js"></script>
		<script src="vendor/input-tags/tagsinput-custom.js"></script>
		<script src="js/main.js"></script>
		<script>
			$(document).ready(function() {
				$('.summernote').summernote({
					height: 120,
					tabsize: 2,
					focus: true,
					toolbar: [
	          ['font', ['bold', 'underline', 'clear']],
	          ['para', ['ul', 'ol']],
	          ['insert', ['link', 'picture', 'video']],
	          ['view', ['fullscreen', 'codeview', 'help']],
	        ]
				});
			});
		</script>
	</body>
</html>