{% load static %}
<script src="{% static 'plugins/popper.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'plugins/jquery-bar-rating/dist/jquery.barrating.min.js' %}"></script>
<script src="{% static 'plugins/lightGallery/dist/js/lightgallery-all.min.js' %}"></script>
<script src="{% static 'plugins/slick/slick/slick.min.js' %}"></script>
<script src="{% static 'plugins/noUiSlider/nouislider.min.js' %}"></script>
<!-- custom code-->
<script src="{% static 'js/main.js' %}"></script>
<script src="https://www.paypal.com/sdk/js?client-id=ASI5ITmjKQnUFCO8OqdbVGBZUk7xk5tBrCaPt5UrDq8LCY5bsNAa5jTEegibLU61KoKsg0weMF2VJDh1&currency=USD"></script>
<script>
        function getRandomString(length) {
            var randomChars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
            var result = '';
            for (var i = 0; i < length; i++) {
                result += randomChars.charAt(Math.floor(Math.random() * randomChars.length));
            }
            return result;
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var amount = "{{ grand_total }}";
        var url = "{% url 'payments' %}";
        const csrftoken = getCookie('csrftoken');
        var orderID = "{{ order.order_number }}";
        var payment_method = 'PayPal';
        var redirect_url = "{% url 'order_complete' %}";
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount,
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    console.log(orderData)

                    sendData();
                    function sendData() {
                        fetch(url, {
                            method: "POST",
                            headers: {
                                "Content-type": "application/json",
                                "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: orderID,
                                transID: orderData.id,
                                payment_method: payment_method,
                                status: "COMPLETED",

                            }),
                        })
                        .then((response) => response.json())
                        .then((data) => {
                            console.log("Success!", data);
                            console.log("Transaction Completed!");
                            window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID
                        })
                    }
                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');
    </script>