<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}

<body>
    <div class="ps-page">

        {% include 'includes/header.html' %}
        {% load static %}

        <div class="ps-checkout">
            <div class="container">
                <ul class="ps-breadcrumb">
                    <li class="ps-breadcrumb__item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="ps-breadcrumb__item active" aria-current="page"> Checkout</li>
                </ul>
                <div class="ps-checkout__content">
                    <form action="{% url 'place_order' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="ps-checkout__form">
                                    <h3 class="ps-checkout__heading">Billing details</h3>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">Email address *</label>
                                                <input class="ps-input" type="email" placeholder="Email address" name="email">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">First name *</label>
                                                <input class="ps-input" type="text" placeholder="First name" name="first_name">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">Last name *</label>
                                                <input class="ps-input" type="text" placeholder="Last name" name="last_name">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">Street address *</label>
                                                <input class="ps-input mb-3" type="text" placeholder="House number and street name" name="address_line_1">
                                                <input class="ps-input" type="text" placeholder="Apartment, suite, unit, etc. (optional)" name="address_line_2">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">Country *</label>
                                                <input class="ps-input" type="text" placeholder="Country" name="country">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">State *</label>
                                                <input class="ps-input" type="text" placeholder="State" name="state">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">City (optional)</label>
                                                <input class="ps-input" type="text" placeholder="City" name="city">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">Phone *</label>
                                                <input class="ps-input" type="text" placeholder="Phone" name="phone">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="ps-checkout__group">
                                                <label class="ps-checkout__label">Order notes (optional)</label>
                                                <textarea class="ps-textarea" rows="7" placeholder="Notes about your order, e.g. special notes for delivery." name="order_notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="ps-checkout__order">
                                    <h3 class="ps-checkout__heading">Your order</h3>
                                    <div class="ps-checkout__row">
                                        <div class="ps-title">Product</div>
                                        <div class="ps-title">Subtotal</div>
                                    </div>
                                    {% for cart_item in cart_items %}
                                        <div class="ps-checkout__row ps-product">
                                            <div class="ps-product__name">{{ cart_item.product.product_name }} <span>x{{ cart_item.quantity }}</span></div>
                                            <div class="ps-product__price">${{ cart_item.sub_total }}</div>
                                        </div>
                                    {% endfor %}
                                    <div class="ps-checkout__row">
                                        <div class="ps-title">Subtotal</div>
                                        <div class="ps-product__price">${{ total }}</div>
                                    </div>
                                    <div class="ps-checkout__row">
                                        <div class="ps-title">Shipping</div>
                                        <div class="ps-product__price">${{ tax }}</div>
                                    </div>
                                    {% comment %}<div class="ps-checkout__row">
                                        <div class="ps-title">Shipping</div>
                                        <div class="ps-checkout__checkbox">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="free-ship" checked="">
                                                <label class="form-check-label" for="free-ship">Free shipping</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="price-ship">
                                                <label class="form-check-label" for="price-ship">Local Pickup: <span>$10.00</span></label>
                                            </div>
                                        </div>
                                    </div>{% endcomment %}
                                    <div class="ps-checkout__row">
                                        <div class="ps-title">Grand Total</div>
                                        <div class="ps-product__price">${{ grand_total }}</div>
                                    </div>
                                    <div class="ps-checkout__payment">
                                        <div class="payment-method">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="payment" checked="">
                                                <label class="form-check-label" for="payment">Check payments</label>
                                            </div>
                                            <p class="ps-note">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                        </div>
                                        <div class="paypal-method">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="paypal">
                                                <label class="form-check-label" for="paypal"> PayPal <img src="{% static 'img/AM_mc_vs_ms_ae_UK.png' %}" alt=""><a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup">What is PayPal?</a></label>
                                            </div>
                                        </div>
                                        <div class="check-faq">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="agree-faq" checked="">
                                                <label class="form-check-label" for="agree-faq"> I have read and agree to the website terms and conditions *</label>
                                            </div>
                                        </div>
                                        <button class="ps-btn ps-btn--warning" type="submit" name="submit">Place order</button><br>
                                        <div class="ps-shopping__checkout" style="padding-top: 20px; text-align: center;"><a class="ps-shopping__link" href="{% url 'store' %}" style="font-weight: bold; border-bottom: 2px solid #103178; color: #103178!important;">Continue To Shopping</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% include 'includes/footer.html' %}

    </div>

    {% include 'includes/extended.html' %}
    {% include 'includes/scripts.html' %}

</body>

</html>