<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}

<body>
    <div class="ps-page">

        {% include 'includes/header.html' %}
        {% load static %}

        <div class="ps-shopping">
            <div class="container">
                <ul class="ps-breadcrumb">
                    <li class="ps-breadcrumb__item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="ps-breadcrumb__item active" aria-current="page">Payments</li>
                </ul>
                <div class="ps-shopping__content">
                    <div class="row">
                        <div class="col-12 col-md-7 col-lg-8">
                            <div class="ps-shopping__table">
                                <div class="ps-shopping__box">
                                    <div class="ps-shopping__checkout" style="color: #FBB102; font-weight: bold; text-align: left; font-size: 20px">Billing Address:</div>
                                    <div class="ps-shopping__row">
                                        <div class="ps-shopping__label">Full Name: <span style="font-weight: lighter"></span></div>
                                        <div class="ps-shopping__price"> {{ order.full_name }} </div>
                                    </div>
                                    <div class="ps-shopping__row">
                                        <div class="ps-shopping__label">Address: <span style="font-weight: lighter"></span></div>
                                        <div class="ps-shopping__price"> {{ order.full_address }} </div>
                                    </div>
                                    <div class="ps-shopping__row">
                                        <div class="ps-shopping__label">Location: <span style="font-weight: lighter"></span></div>
                                        <div class="ps-shopping__price"> {{ order.city }}, {{ order.state }}, {{ order.country }} </div>
                                    </div>
                                    {% if orders.order_notes %}
                                        <div class="ps-shopping__row">
                                            <div class="ps-shopping__label">Order Note: <span style="font-weight: lighter"></span></div>
                                            <div class="ps-shopping__price">{{ order.order_notes }}</div>
                                        </div>
                                    {% endif %}
                                    <div class="ps-shopping__row">
                                        <div class="ps-shopping__label">Email: <span style="font-weight: lighter"></span></div>
                                        <div class="ps-shopping__price"> {{ order.email }} </div>
                                    </div>
                                    <div class="ps-shopping__row">
                                        <div class="ps-shopping__label">Phone: <span style="font-weight: lighter"></span></div>
                                        <div class="ps-shopping__price">{{ order.phone }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-shopping__table">
                                <div class="ps-shopping__box">
                                    <div class="ps-shopping__checkout" style="color: #FBB102; font-weight: bold; text-align: left; font-size: 20px">Payment Methods:</div>
                                    <div class="ps-shopping__row">
                                        <div class="ps-shopping__label">PayPal</div>
                                        <div class="ps-shopping__price">${{ total }}</div>
                                    </div>
                                    <div class="ps-shopping__row">
                                        <div class="ps-shopping__label">Shipping</div>
                                        <div class="ps-shopping__price">${{ tax }}</div>
                                    </div>
                                    <div class="ps-shopping__row">
                                        <div class="ps-shopping__label">Grand Total</div>
                                        <div class="ps-shopping__price">${{ grand_total }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-shopping__table">
                                <div class="ps-shopping__box">
                                    <div class="ps-shopping__checkout" style="color: #FBB102; font-weight: bold; text-align: left; font-size: 20px">Review Products:</div>
                                    <div class="ps-shopping__table">
                                        {% if not cart_items %}
                                            <div class="text-center">
                                                <h3 style="color: #103178">Your shopping cart is empty!</h3><br>
                                                <div class="ps-shopping__checkout">
                                                    <a class="ps-btn ps-btn--warning" href="{% url 'store' %}" style="width: 30%">Continue Shopping</a>
                                                </div>
                                            </div>
                                        {% else %}
                                            <table class="table ps-table ps-table--product">
                                                <thead>
                                                    <tr>
                                                        <th class="ps-product__thumbnail"></th>
                                                        <th class="ps-product__name">Product name</th>
                                                        <th class="ps-product__meta">Unit price</th>
                                                        <th class="ps-product__quantity">Quantity</th>
                                                        <th class="ps-product__subtotal">Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for cart_item in cart_items %}
                                                    <tr>
                                                        <td class="ps-product__thumbnail">
                                                            <a class="ps-product__image" href="{{ cart_item.product.get_url }}">
                                                                {% if product.image %}
                                                                <figure><img src="{{ cart_item.product.image.url }}" alt></figure>
                                                                {% endif %}
                                                            </a>
                                                        </td>
                                                        <td class="ps-product__name">
                                                            <a href="{{ cart_item.product.get_url }}">{{ cart_item.product.product_name }}</a>
                                                            <p>
                                                                {% if cart_item.variations.all %}
                                                                    {% for item in cart_item.variations.all %}
                                                                        {{ item.variation_category | capfirst}} : {{ item.variation_value | capfirst}}<br>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </p>
                                                        </td>
                                                        <td class="ps-product__meta"> <span class="ps-product__price sale">${{ cart_item.product.price }}</span></td>
                                                        <td class="ps-product__quantity">
                                                            <span>x{{ cart_item.quantity }}</span>
                                                        </td>
                                                        <td class="ps-product__subtotal">${{ cart_item.sub_total }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-4">
                            <div class="ps-shopping__box">
                                <div class="ps-shopping__label" style="color: #FBB102; font-weight: bold; text-align: left; font-size: 20px">Preview your order & make payment</div>
                                <div class="ps-shopping__row">
                                    <div class="ps-shopping__label">Subtotal</div>
                                    <div class="ps-shopping__price">${{ total }}</div>
                                </div>
                                <div class="ps-shopping__row">
                                    <div class="ps-shopping__label">Shipping</div>
                                    <div class="ps-shopping__price">${{ tax }}</div>
                                </div>
                                <div class="ps-shopping__row">
                                    <div class="ps-shopping__label">Grand Total</div>
                                    <div class="ps-shopping__price">${{ grand_total }}</div>
                                </div>
                                <div class="ps-shopping__checkout">
                                    <div id="paypal-button-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/footer.html' %}

    </div>

    {% include 'includes/extended.html' %}
    {% include 'includes/scripts.html' %}

</body>
</html>